In [17]:
# Setup
import flopy
import os
import pandas as pd

In [24]:
cwd = '\\'.join(os.getcwd().split('\\')[:-2])

### Test: Load the model

In [7]:
# bug detected:
# if the script is not in the same folder as the .nam file,
# an error arises saying that the ._kx file is not found
m = flopy.mfusg.MfUsg.load(os.path.join(os.getcwd(), 't_m11_C1.nam'))

c:\Users\user\anaconda3\envs\fontanili\Lib\site-packages\flopy\mbase.py:97: UserWarning: The program mfusg does not exist or is not executable.
  warn(

In [18]:
# m.sfr.reach_data

In [33]:
# m.sfr.segment_data

In [ ]:
sp = 1 #stress period number
m.sfr.segment_data[sp-1]

### Test: Modify the segment data parameters

In [ ]:
# Load the segment data structure for a single stress period
sd_start = pd.read_csv(os.path.join(cwd, 'test_models', 'tool_segment_data.csv'))
# Load the data to be set up into the different stress periods

In [32]:
sd_start

,nseg,icalc,outseg,iupseg,iprior,nstrpts,flow,runoff,etsw,pptsw,...,uhc1,hcond2,thickm2,elevdn,width2,depth2,thts2,thti2,eps2,uhc2
0,1,1,2,0,0,0,1.185,0.0,0.0,0.0,...,0.0,0.000001,0.5,178.56874,17.0,0.0,0.0,0.0,0.0,0.0
1,2,1,3,0,0,0,0.000,0.0,0.0,0.0,...,0.0,0.000001,0.5,178.49320,17.0,0.0,0.0,0.0,0.0,0.0
2,3,1,4,0,0,0,-0.010,0.0,0.0,0.0,...,0.0,0.000001,0.5,178.21670,17.0,0.0,0.0,0.0,0.0,0.0
3,4,1,5,0,0,0,0.000,0.0,0.0,0.0,...,0.0,0.000001,0.5,177.48534,17.0,0.0,0.0,0.0,0.0,0.0
4,5,1,6,0,0,0,0.000,0.0,0.0,0.0,...,0.0,0.000001,0.5,175.67570,17.0,0.0,0.0,0.0,0.0,0.0
5,6,1,7,0,0,0,0.000,0.0,0.0,0.0,...,0.0,0.000001,0.5,172.03040,17.0,0.0,0.0,0.0,0.0,0.0
6,7,1,0,0,0,0,0.000,0.0,0.0,0.0,...,0.0,0.000001,0.5,170.31760,17.0,0.0,0.0,0.0,0.0,0.0

### Test: write the new .sfr file